body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
}

.app {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #333;
}

.note-form,
.search-bar {
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
}

.note-form input,
.note-form textarea,
.search-bar input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

.note-form button {
  padding: 10px 20px;
  background-color: #007bff;
  color:#FFF;
  border: none;
  cursor: pointer;
}

.notes-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  color: #000;
}

.note-item {
  background: white;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex: 1 1 calc(33.333% - 20px);
  max-width: calc(33.333% - 20px);
}

.note-item h3 {
  margin: 0;
  font-size: 18px;
}

.note-item p {
  margin: 10px 0;
}

.note-item span {
  font-size: 12px;
  color: #666;
}

.note-item button {
  background: #dc3545;
  color:#000;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 5px;
}
