:root {
  --clr-primary: #d50000;
  --clr-primary-hover: #29e6a7;
  --clr-primary-dark: #039d69;
  --clr-gray100: #f0f7f8;
  --clr-gray200: #cfd8dc;
  --clr-gray300: #a7b7be;
  --clr-gray400: #6b7e86;
  --clr-gray500: #425a65;

  --radius: 0.2rem;
}

* {
  margin:auto 0;
  padding: 0;
  box-sizing: border-box;

} 

body {
  background-image: url("./src/assets/background.jpg") ;
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
  font-family: Oxygen, sans-serif;
}
::-webkit-scrollbar{
  width: 0px;
}
ul,
a,
li,
button {
  list-style: none;
  text-decoration: none;
  cursor: pointer;
}

.header {
  width: 100%;
}


.card {
  box-shadow: 0px 2px 20px var(--clr-gray200);
  border-radius: var(--radius);
  overflow: hidden; 
  /* display:flexbox;    */
  /* justify-content: center; */
  /* align-items:center; */
  margin: 20px;
  /* flex-direction:column; */
  /* justify-content: space-between;  */
}


.card img {
  height: 12rem;
  width: 100%; 
  object-fit: cover;
  transition: transform 200ms ease-in;
}

.card-title {
  padding: 1rem;
}

.card-description {
   padding: 0 1rem;
}
.card .desc{
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-btn {
   padding: 1rem;
    font-family: inherit;
    font-weight: bold;
    font-size: 1rem;
    margin: 1rem;
    border: 2px solid var(--clr-primary);
    background: transparent;
    color: var(--clr-primary);
    border-radius: var(--radius);
    transition: background 200ms ease-in, color 200ms ease-in;
}

.card:hover {
   transform: scale(1.02);
}

.card-btn:hover {
  background: var(--clr-primary);
  color: white;
}







.header {
  background-color: #fff; 
  color: #fff; 
  padding: 20px;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}

.logo img{
width: 20%;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  margin-left: 20px; 
}

.nav-links a:hover {
  text-decoration: underline;
}

.nav-links .active {
  font-weight: bold; 
}









/* styles.css */
h1 {
  text-align: center;
  margin-top: 20px;
  color: #333;
}
form {
  background-color: #fff;
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
label {
  display: block;
  font-weight: bold;
  margin-top: 10px;
}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="number"],
select,
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}
input[type="file"] {
  margin-top: 5px;
}
button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 3px;
  cursor: pointer;
}
button[type="submit"]:hover {
  background-color: #0056b3;
}
#message {
  text-align: center;
  margin-top: 20px;
  color: #333;
} 

footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: #fff;
  font-size: 14px;
}
.google-signin-button {
  background-color: #4285F4;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  width: 100%;
}

.google-signin-button:hover {
  background-color: #357ae8;
}


















